@use 'sass/mixin';

$clock-size: 70;
$min-font-size: 4;

#clock {
  position: relative;
  overflow: hidden;
}

#circle {
  position: relative;
  width: $clock-size + vh;
  height: $clock-size + vh;
  border-radius: 50%;
  margin: 6.5% auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  @include mixin.theme-color(background-color, on-background);
  @media (max-aspect-ratio: 1/1) {
    width: $clock-size + vw;
    height: $clock-size + vw;
  }
}

.min {
  cursor: pointer;
  position: absolute;
  font-size: $min-font-size + vh;
  transition: color 100ms ease;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  transition: color 200ms ease;
  @include mixin.theme-color(color, secondary);
  @media (max-aspect-ratio: 1/1) {
    font-size: $min-font-size + vw;
  }
  &.m0 { top: 0; left: 48.75%; }
  &.m5 { top: 6%; left: 30%; }
  &.m10 { top: 22.5%; left: 14%; }
  &.m15 { top: 46.5%; left: 8%; }
  &.m20 { top: 70.5%; left: 13%; }
  &.m25 { top: 88%; left: 28%; }
  &.m30 { top: 93.5%; left: 48.75%; }
  &.m35 { top: 88%; left: 68%; }
  &.m40 { top: 70.5%; left: 82%; }
  &.m45 { top: 46.5%; left: 87%; }
  &.m50 { top: 22.5%; left: 82%; }
  &.m55 { top: 6%; left: 68%; }
}
