@import '../variable';

$margin-of-button: 10%;

#timer {
  text-align: center;
  > .time, > .btn {
    vertical-align: bottom;
  }
  > .time {
    color: $white;
    font-size: 6vh;
    line-height: 1;
  }
  > .btn {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    border: 0.5vh solid $orange;
    background: no-repeat 50% / 80%;
    transition: opacity 100ms ease;
    &:active { opacity: 0.6; }
    &.reset {
      margin-right: $margin-of-button;
      background-image: url(./images/replay.svg);
    }
    &.start {
      margin-left: $margin-of-button;
      background-image: url(./images/start.svg);
    }
    &.pause {
      margin-left: $margin-of-button;
      background-image: url(./images/pause.svg);
    }
  }
  @media (max-aspect-ratio: 1/1) {
    > .time {
      font-size: 6vw;
    }
    > .btn {
      width: 7.5vw;
      height: 7.5vw;
      border-width: 0.5vw;
    }
  }
}
