@use '../variable' as v;

$time-font-size: 6;

#timeText {
  color: v.$gray;
  line-height: 1;
  vertical-align: middle;
  font-size: $time-font-size + vh;
  @media (max-aspect-ratio: 1/1) {
    font-size: $time-font-size + vw;
  }
}
