@use 'sass/mixin';

$button-size: 7.5;
$button-border-size: 0.5;
$margin-of-button: 10%;

#timer {
  text-align: center;
  margin-top: 1%;
}

.btn {
  vertical-align: middle;
  width: $button-size + vh;
  height: $button-size + vh;
  border-radius: 50%;
  border: ($button-border-size + vh) solid transparent;
  @include mixin.theme-color(border-color, primary);
  background: no-repeat 50% / 80%;
  transition: opacity 100ms ease;
  &:disabled { opacity: 0.4; }
  &.reset {
    margin-right: $margin-of-button;
    background-image: url(./images/replay.svg);
  }
  &.start {
    margin-left: $margin-of-button;
    background-image: url(./images/start.svg);
  }
  &.pause {
    margin-left: $margin-of-button;
    background-image: url(./images/pause.svg);
  }
  @media (max-aspect-ratio: 1/1) {
    width: $button-size + vw;
    height: $button-size + vw;
    border-width: $button-border-size + vw;
  }
}
