@import '../variable';

#timer {
  text-align: center;
  height: 12.5%;
  > .time, > .btn {
    vertical-align: top;
  }
  > .time {
    color: $white;
    font-size: 12.5vh;
  }
  > .btn {
    width: 12.5%;
    height: 100%;
    border-radius: 50%;
    border: 1vh solid $orange;
    background: no-repeat 50% / 80%;
    transition: opacity 100ms ease;
    &:active { opacity: 0.6; }
    &.reset {
      margin-right: 5%;
      background-image: url(./images/replay.svg);
    }
    &.start {
      margin-left: 5%;
      background-image: url(./images/start.svg);
    }
    &.pause {
      margin-left: 5%;
      background-image: url(./images/pause.svg);
    }
  }
  @media (max-aspect-ratio: 1/1) {
    > .time {
      font-size: 12.5vw;
    }
    > .btn {
      border-width: 1vw;
    }
  }
}
