@use 'sass/mixin';

$time-font-size: 6;

#timeText {
  line-height: 1;
  vertical-align: middle;
  font-size: $time-font-size + vh;
  @include mixin.theme-color(color, secondary);
  @media (max-aspect-ratio: 1/1) {
    font-size: $time-font-size + vw;
  }
}
