$white: #F2F2F7;
$black: #1C1C1E;
$gray: #AEAEB2;
$orange: #FF9F0A;

@function var-color($name) {
  @if ($name == "background") {
    @return $black;
  } @else if ($name == "on-background") {
    @return $white;
  } @else if ($name == "primary") {
    @return $orange;
  } @else if ($name == "secondary") {
    @return $gray;
  }
}
