@use 'sass/mixin';
@use 'sass/variable';

$size: 100;
$header-font-size: 5;

html, body {
  height: 100%;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  @include mixin.theme-color(background-color, "background");
}

:root {
  --background: #{variable.$black};
  --on-background: #{variable.$white};
  --primary: #{variable.$orange};
  --secondary: #{variable.$gray};
}

:global #app {
  margin: 0 auto;
  width: $size + vh;
  height: $size + vh;
  > .header {
    @include mixin.theme-color(color, secondary);
    text-align: center;
    font-size: $header-font-size + vh;
    margin-top: ($header-font-size / 10) + vh;
  }

  @media (max-aspect-ratio: 1/1) {
    padding-top: calc(#{$size / 2}vh - #{$size / 2}vw);
    width: $size + vw;
    height: $size + vw;
    > .header {
      font-size: $header-font-size + vw;
    }
  }
}
