@import './static/mixin';
@import './static/variable';

$size: 100;
$header-font-size: 5;

#app {
  margin: 0 auto;
  width: $size + vh;
  height: $size + vh;
  > .header {
    @include theme-color(color, secondary);
    text-align: center;
    font-size: $header-font-size + vh;
    margin-top: ($header-font-size / 10) + vh;
  }

  @media (max-aspect-ratio: 1/1) {
    padding-top: calc(#{$size / 2}vh - #{$size / 2}vw);
    width: $size + vw;
    height: $size + vw;
    > .header {
      font-size: $header-font-size + vw;
    }
  }
}
